<p>
  {{ title }}
</p>

<div>
  부서번호 {{ di.diNo }} <br/>
  부서이름 {{ di.diName }} <br/>
  부서설명 {{ di.diDesc }} <br/>
  부서인원 {{ di.diCnt }} <br/>
</div>

<app-depart-insert *ngIf="parentVisible" [title]="subTitle" (childeVisible)="toggleDepartInsert($event)" (childeDi)="addDepart($event)"></app-depart-insert>
<button (click)="toggleDepartInsert(true)">부서추가</button>
<button (click)="showDepartList()">부서리스트 보기</button>
<!-- <button (click)="changeShow()">{{ btnstr }}</button> -->
<!-- <app-test *ngIf="isShow"></app-test> -->
<table border='1' *ngIf=diList.length>
  <tr>
    <th>부서번호</th>
    <th>부서이름</th>
    <th>부서설명</th>
    <th>부서인원</th>
    <th>삭제</th>
  </tr>
  <tr *ngFor="let di of diList">
    <td>{{ di.diNo }}</td>
    <td>{{ di.diName }}</td>
    <td>{{ di.diDesc }}</td>
    <td>{{ di.diCnt }}</td>
    <td><button (click)="deleteDi(di)">삭제</button></td>
  </tr>
  <!-- <tr *ngFor="let di of diList; let idx = index">
    <td>{{ di.dino }}</td>
    <td>{{ di.diname }}</td>
    <td>{{ di.didesc }}</td>
    <td>{{ di.dicnt }}</td>
    <td><button (click)="deleteDi(idx)">삭제</button></td>
  </tr> -->
</table>